---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: relintdockerhubpushbot/relint-base

inputs:
- name: cf-deployment-concourse-tasks
- name: bosh-cli-github-release
- name: credhub-cli-github-release
- name: cf-cli
- name: terraform-github-release
- name: golang-docker-image
- name: uptimer

outputs:
- name: cf-deployment-concourse-tasks-updated

run:
  path: cf-deployment-concourse-tasks/ci/tasks/update-cf-d-ct-dockerfile-versions/task
